/* Ajustes generales  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Fuentes  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'MonaspaceNeonVarVF';
  src: url('fonts/MonaspaceNeonVarVF/MonaspaceNeonVarVF [wght,wdth,slnt].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General  –––––––––––––––––––––––––––––––––––––––––––––––––– */
html{
  scroll-behavior: smooth;
}

body{
  margin:auto;
  font-size: 1.7vh;
  line-height: 24px;
  font-weight: 400;
  font-family: 'MonaspaceNeonVarVF', monospace;
  font-style: normal;
  background-color: #ecf0f9;
  color: #b6becd;
  scroll-behavior: smooth;
}


a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(#009ff5, #009ff5);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}


/* Estructura */

.title{
  padding-top: 2%;
  margin: auto;
  width: 770px;
  max-width: 85%;
  text-align: center;
}



.avatar {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 70px;
  background-size: 145px;
  background-position: center;
  background-image: url("../img/link.png");
  font-family: 'MonaspaceNeonVarVF', monospace;
}

.menu{
  margin: auto;
  text-align: center;
  font-size: 13px;
  padding-bottom: 0.8%;
  padding-top: 1%;
  width: 800px;
  min-width: 150px;
  max-width: 100%;
  color: black;
}

.section{
  position: relative;
  width: 98%;
  max-width: 1160px;
  min-width: 390px;
  text-align: left;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: center;
  float: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}


.seccion{
  font-size: 13px;
  padding-bottom: 0.8%;
  padding-top: 5%;
  width: 800px;
  max-width: 98%;
  color: black;
}

.seccion h2{
  font-size: 23px;
  color: black;
}

.box{
  padding: 19px 10px 10px 25px;
  flex: 300px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  list-style: none;
  margin-bottom: 1%;
  color:black;
}

.box {
transition: box-shadow 0.6s ease;
}




.hashtag {
  margin-bottom: 2%;
  font-size: 13px;
  color: #009ff5;
  font-size: 10px;
}

footer{
  margin: auto;
  text-align: center;
  font-size: 1vh;
  color: black;
  margin:auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
