/* Ajustes generales  –––––––––––––––––––––––––––––––––––––––––––––––––– */

body{
  margin-top: 3%;
  font-size: 1.7vh;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  font-style: normal;
  background-color: #ecf0f9;
  color: #b6becd;
}

footer{
  text-align: center;
  font-size: 1vh;
  color: white;
  margin: 3% auto 3% auto;
  color: black;
}

a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
a:hover::first-letter{
  color: #c2cfe1;
}

a:hover, a:focus {
  background-size: 100% 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  padding: 1%;
  color: black;
  font-weight: normal;
  box-shadow:
  0px 1px 1.2px rgba(0, 0, 0, 0.028),
  0px 2.4px 2.9px rgba(0, 0, 0, 0.04),
  0px 4.5px 5.7px rgba(0, 0, 0, 0.05),
  0px 8px 10.5px rgba(0, 0, 0, 0.06),
  0px 15px 20px rgba(0, 0, 0, 0.072),
  0px 36px 48px rgba(0, 0, 0, 0.1);
}

p::selection{
  background-color:#72c5af;
  color: white;
}

h2{
  text-align: center;
  font-size: 1.7rem;
  color: black;
  font-family: 'Merriweather', serif;
}

h2::selection{
  color:#72c5af;
}

/* Cuerpo  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.avatar  {
  border-radius: 60px 60px 60px 60px;
  width: 120px;
  height: 120px;
  position: center;
  margin: auto;
  background-size: 119px;
  background-image: url("../img/avatar.jpg");
}

.title{
  font-style: normal;
  text-align: center;
  font-size: 1.4vh;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  position: center;
}

.separador{
  height: 20px;
}

/* Menu -----------------------------------------------------*/
.menu{
  margin: auto;
  text-align: center;
  font-size: 13px;
  padding-bottom: 0.8%;
  padding-top: 1%;
  width: 800px;
  min-width: 150px;
  max-width: 100%;
  color: black;
}

.menu select  {
  width: 150px;
  height: 40px;
  color: black;
  background-color: white;
  border: 2px solid #c6c8c9;
  border-radius: 15px;
  transition: all 0.25s ease;
  cursor: pointer;
  padding: 1%;
}

.menu select:hover{
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s ease;
  width: 300px;
  min-width: 120px;
  max-width: 500px;
  box-shadow:
  0px 1px 1.2px rgba(0, 0, 0, 0.028),
  0px 2.4px 2.9px rgba(0, 0, 0, 0.04),
  0px 4.5px 5.7px rgba(0, 0, 0, 0.05),
  0px 8px 10.5px rgba(0, 0, 0, 0.06),
  0px 15px 20px rgba(0, 0, 0, 0.072),
  0px 36px 48px rgba(0, 0, 0, 0.1);
}


.section{
  position: relative;
  max-width: 730px;
  text-align: left;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: center;
  width: 100%;
  float: center;
  box-sizing: border-box;
}

.Contenedor_noticia {
  padding: 10px 15px 5px 20px;
  color: black;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  list-style:none;
  margin-top: 3%;
  margin-bottom: 5%;
}

.Contenedor_noticia ol li{
  position: relative;
  text-align: center;
  color: #d0d9ea;
  flex-direction: column;
  column-span: none;
}

.separador{
  width:300px;
  display: block;
  align-items: center;
  height: 0.1rem;
}

/* Secciones  –––––––––––––––––––––––––––––––––––––––––––––––––– */
