

.container {
  position: relative;
  width: 100%;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; }
.column {
  position: center;
  width: 100%;
  float: center;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

}



html {
  font-size: 100%; }
body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #30333c;
  background-color: #e7ecef;}

  .icon {
    padding: 15px 13px 13px 13px;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    fill: #0085FF;
  }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  width: 100px;
  height: 100px;
  margin-bottom: 2%;
}


.seccion{
  text-align: left;
}
.contenedor {
text-align: left;
text-decoration: none;
font-family: 'Quicksand', sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h2 {
  padding: auto;
  margin: 0px;
  font-weight: 300;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
  h2::first-letter{
  color:#105783; /* NOTE: primera letra */
 }
/* Larger than phablet */
@media (min-width: 550px) {
  h2 { font-size: 23px; line-height: 86px;}
}

a {
  color: #06adeb;
  text-decoration: none;
}
a:hover {
  color:#6d8c6d;
}

  h1 {
    margin-top: 0;
    margin-bottom: 1px;
    font-weight: 400; }


  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 27px; line-height: 96px;}
  }

  p {
    margin-top: 0px; }
  .hashtag {
    margin-top: 0px;
    margin-bottom: 2%;
    font-size: 11px;
    color: blue;
  }
  .resumen{
    margin-bottom: 0px;
    padding: 0px;
  }
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #0085FF; }
  a:hover {
    color: #649899; }
