





/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */





.icon {
  padding: 15px 13px 13px 13px;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  fill: #0085FF;
}
