/* For devices larger than 400px */
@media (max-width: 400px) {
  .container {
    width: 80%;
    padding: 0; }

.seccion{
  margin: 1%;
  font-size: 16px
}
.contenedor{
  font-size: 11px;
  text-align: left;
}
.titulo { font-size: 13px;}
.hashtag {
  margin-top: 0px;
  margin-bottom: 2%;
  font-size: 0px;
  color: blue;
}
.seccion{
  text-align: left;
  margin-bottom: 1%;
}
h2 {
  padding: auto;
  margin: 0px;
  font-weight: 200;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  }
  h2::first-letter{
  color:#105783; /* NOTE: primera letra */
 }
 a {
  color: #0085FF;
  text-decoration: none;
 }
}



/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  h2 {
    font-size: 23px;
    line-height: 86px;
    padding: auto;
    margin: 0%;
  }


  .hashtag {
    margin-top: 0px;
    margin-bottom: 2%;
    font-size: 11px;

  }
}
